<div style="margin: 0.5em">
	<h2 class="text-center">Score Results</h2>
	<div class="container">
		<table class="'body table">
			<thead>
				<tr><th ng-repeat="fname in rspHeader">{{fname}}</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rspData">
					<td ng-repeat="fval in row track by $index">{{fval}}</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-info" ng-click="cancel()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Close&nbsp;</button>
	</div>
</div>
