<div style="margin: 0.5em">
	<h3 class="modal-title">Score Results</h3>
	<div class="modal-body">
		<table class="table table-bordered table-hover" style="word-wrap: break-word;">
			<thead class="thead-dark">
				<tr><th ng-repeat="fname in rspHeader">{{fname}}</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rspData">
					<td ng-repeat="fval in row track by $index">{{fval}}</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-info" ng-click="cancel()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Close&nbsp;</button>
	</div>
</div>
